<!doctype html>
<html>
  <head>
    <%= partial "partials/head" %>
    <%= partial "partials/social-opengraph" %>
  </head>
  <body class="<%= page_classes %> <% if current_page.data.body_class %><%= current_page.data.body_class %><% end %>">
    <%= partial "partials/nav" %>
    <main role="main" class="site-main">
      <%= partial "partials/header" %>

      <section class="container-inn">
        <%= yield %>
      </section>

      <%= partial "partials/footer" %>
    </main>
  </body>
</html>
