<!doctype html>
<html>
  <head>
    <%= partial "partials/head" %>
    <%= partial "partials/social-opengraph" %>
  </head>
  <body class="<%= page_classes %> <% if current_page.data.body_class %><%= current_page.data.body_class %><% end %>">
    <%= yield %>
  </body>
</html>
