<!doctype html>
<html>
  <head>
    <%= partial "partials/head" %>

    <% if current_article.data.summary %>
      <meta name="description" content="<%= current_article.data.summary %>">
    <% elsif current_article.data.link %>
      <meta name="description" content="<%= page_title + "→" %>">
    <% else %>
      <meta name="description" content="<%= site_description %>">
    <% end %>

    <% if current_article.data.keywords %>
      <meta name="keywords" content="<%= current_article.data.keywords %>">
    <% else %>
      <meta name="keywords" content="<%= site_keywords %>">
    <% end %>

    <%= partial "partials/social-opengraph" %>

    <!-- only build site -->
    <% if build? %>
      <% page_articles.index do |article, i| %>
        <% if current_article.data.summary %>
          <meta property="og:description" content="<%= current_article.data.summary %>">
        <% elsif current_article.data.link %>
          <meta property="og:description" content="<%= page_title + "→" %>">
        <% else %>
          <meta property="og:description" content="<%= site_description %>">
        <% end %>

        <% if current_article.data.link %>
          <!-- Link post -->
          <meta property="og:type" content="link">
        <% else %>
          <!-- Non link post -->
          <meta property="og:type" content="article">
        <% end %>

        <% if current_article.data.image %>
          <meta property="og:image" content="<%= current_article.data.image %>">
        <% else %>
          <meta property="og:image" content="<%= site_url %><%= image_path('social.png') %>">
        <% end %>

        <meta property="og:url" content="<%= site_url + current_article.url %>">
      <% end %>

      <% if current_article.data.summary %>
        <meta property="twitter:description" content="<%= current_article.data.summary %>">
      <% elsif current_article.data.link%>
        <meta property="twitter:description" content="<%= page_title + "→" %>">
      <% else %>
        <meta property="twitter:description" content="<%= site_description %>">
      <% end %>

      <% if current_article.data.image %>
        <meta property="twitter:image" content="<%= current_article.data.image %>">
      <% else %>
        <meta property="twitter:image" content="<%= site_url %><%= image_path('social.png') %>">
      <% end %>
    <% end %><!-- /only build site -->
  </head>
  <body class="<%= page_classes %> single">
    <%= partial "partials/nav" %>
    <main role="main" class="site-main">
      <%= partial "partials/header" %>

      <article role="article" class="article" itemscope itemtype="http://schema.org/NewsArticle">
        <div class="container-inn">
          <header class="article-header">
            <meta itemprop="datePublished" content="<%= current_page.date.strftime('%Y-%m-%d') %>">
            <span class="article-meta">
              Posted on the <%= current_page.date.strftime('%d') %> of <%= current_page.date.strftime('%b') %> <%= current_page.date.strftime('%Y') %>
            </span>
            <h1 class="article-title" itemprop="headline"><%= current_page.data.title %></h1>
          </header>

          <div class="article-content" itemprop="articleBody">
            <%= yield %>
          </div>
        </div>
      </article>

      <div class="comments">
        <div class="container-inn">
          <%= disqus %>
        </div>
      </div>

      <%= partial "partials/footer" %>
    </main>
  </body>
</html>
