<!doctype html>
<html>
  <%= partial "partials/head" %>
  <body<% if current_page.data.body_class %> class="<%= current_page.data.body_class %>"<% end %>>
    <%= partial "partials/nav" %>
    <main role="main" class="site-main">
      <%= partial "partials/header" %>

      <article role="article" class="container-inn">
        <%= yield %>
      </article>

      <%= partial "partials/footer" %>
    </main>
  </body>
</html>
