
<article class="article">
  <header class="article-header">
    <span class="article-meta">
      Posted on the <%= article.date.strftime('%d') %> of <%= article.date.strftime('%b') %> <%= article.date.strftime('%Y') %>
    </span>
    <h1 class="article-title"><%= link_to article.title, article %></h1>
  </header>
  <div class="article-summary">
    <%= article.summary 200, "..." %>
  </div>
</article>
