
<meta charset="utf-8">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<title><%= page_title %></title>

<%= stylesheet_link_tag 'main' %>

<!-- only build site -->
<% if build? %>
  <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="<%= image_path('favicon/apple-icon-57x57.png') %>">
  <link rel="apple-touch-icon" sizes="60x60" href="<%= image_path('favicon/apple-icon-60x60.png') %>">
  <link rel="apple-touch-icon" sizes="72x72" href="<%= image_path('favicon/apple-icon-72x72.png') %>">
  <link rel="apple-touch-icon" sizes="76x76" href="<%= image_path('favicon/apple-icon-76x76.png') %>">
  <link rel="apple-touch-icon" sizes="114x114" href="<%= image_path('favicon/apple-icon-114x114.png') %>">
  <link rel="apple-touch-icon" sizes="120x120" href="<%= image_path('favicon/apple-icon-120x120.png') %>">
  <link rel="apple-touch-icon" sizes="144x144" href="<%= image_path('favicon/apple-icon-144x144.png') %>">
  <link rel="apple-touch-icon" sizes="152x152" href="<%= image_path('favicon/apple-icon-152x152.png') %>">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path('favicon/apple-icon-180x180.png') %>">
  <link rel="icon" type="image/png" sizes="192x192" href="<%= image_path('favicon/android-icon-192x192.p') %>ng">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= image_path('favicon/favicon-32x32.png') %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path('favicon/favicon-16x16.png') %>">
  <link rel="shortcut icon" href="<%= image_path('favicon/favicon-16x16.png') %>">
  <link rel="manifest" href="<%= image_path('favicon/manifest.json') %>">
  <meta name="msapplication-TileColor" content="#f7f7f7">
  <meta name="msapplication-TileImage" content="<%= image_path('favicon/ms-icon-144x144.png') %>">
  <meta name="theme-color" content="#f7f7f7">

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '<%= google_analytics_account %>']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

  <meta property="og:title" content="<%= page_title %>">
  <meta property="article:author" content="<%= site_author %>">
  <meta property="article:publisher" content="<%= site_author %>">

  <meta property="og:site_name" content="<%= site_title %>">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="<%= twitter %>">
  <meta name="twitter:title" content="<%= page_title %>">
<% end %><!-- /only build site -->
