<a href="#" role="button" class="toggle-nav" data-toggle="nav">
  <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 512 512"><path d="M80 96a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h352a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16H80zm0 128a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h352a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16H80zm0 128a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h352a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16H80z" fill="#fff" class="menu-path"/></svg>
</a>

<nav id="nav" class="nav" role="nav">
  <div class="nav-inner">
    <h2>Menu</h2>

    <a href="#" class="nav-close" role="button" data-toggle="nav">
      <svg width="30" height="30" viewBox="0 0 304 305" xmlns="http://www.w3.org/2000/svg"><title>close</title><path d="M106.745 152.68L4.922 50.855c-6.25-6.25-6.25-16.38 0-22.628L27.55 5.6c6.248-6.247 16.378-6.247 22.627 0L152 107.425 253.823 5.6c6.25-6.247 16.38-6.247 22.628 0L299.08 28.23c6.25 6.25 6.25 16.38 0 22.628L197.255 152.68 299.078 254.5c6.25 6.25 6.25 16.38 0 22.628l-22.627 22.627c-6.248 6.25-16.378 6.25-22.627 0L152 197.934 50.177 299.757c-6.25 6.25-16.38 6.25-22.628 0L4.92 277.13c-6.25-6.248-6.25-16.38 0-22.628L106.745 152.68z" fill="#fff" fill-rule="evenodd"/></svg>
    </a>

    <ul class="navbar">
      <li>
        <%= link_to(t(:about_me), local_path(t("paths.about"))) %>
      </li>
      <li>
        <%= link_to(t(:blog), "/blog") %>
      </li>
      <li>
        <%= link_to("feed", "/feed.xml", :target => :blank) %>
      </li>
      <li>
        <%= link_to("Github", "http://github.com/nandomoreirame", :target => :blank) %>
      </li>
      <li>
        <%= link_to("Twitter", "http://twitter.com/Pia_Frontend", :target => :blank) %>
      </li>
    </ul>
  </div>
</nav>
