---
body_class: home-hero
layout: layout
---

<section class="hero">

  <div class="hero-inner" itemscope itemtype="http://schema.org/Person">

    <%= image_tag site_author_image, :class => 'hero-avatar' %>

    <h1>
      <small><%= t(:hello_iam) %>...</small>
      <strong itemprop="name"><%= site_author %></strong>
      <small><span itemprop="jobTitle"><%= t(:front_dev) %></span> <%= t(:like_coffee) %>.</small>
    </h1>

    <nav class="hero-actions">
      <%= link_to(t(:about_me), local_path(t("paths.about")), :class => "hero-button") %>
      <%= link_to(t(:blog), "/blog", :class => "hero-button") %>
    </nav>

    <%= partial "partials/social" %>

    <% other_langs.each do |lang| %>
      <small class="translate"><%= link_to(t("#{lang}"), local_path('', { :language => lang.to_s })) %></small>
    <% end %>

  </div>

</section>
