---
title: Blog
pageable: true
per_page: 6
---

<div class="blog-list">
  <% page_articles.each_with_index do |article, i| %>
    <%= partial "partials/article", :locals => { :article => article } %>
  <% end %>
</div>

<% if paginate && num_pages > 1 %>
  <nav class="paginate">
    <p>Page <%= page_number %> of <%= num_pages %></p>
    <% if prev_page %>
      <%= link_to 'Previous page', prev_page %>
    <% end %>
    <% if next_page %>
      <%= link_to 'Next page', next_page %>
    <% end %>
  </nav>
<% end %>
