---
body_class: home-hero
---

<section class="hero">

  <div class="hero-inner">

    <%= image_tag 'avatar.jpg', :class => 'hero-avatar' %>

    <h1>
      <small><%= I18n.t(:hello_iam) %></small>
      <strong>Fernando Moreira</strong>
      <small><%= I18n.t(:front_dev) %> <%= I18n.t(:like_coffee) %>.</small>
    </h1>

    <nav class="hero-actions">
      <%= link_to(I18n.t(:about_me), "/about", :class => "hero-button") %>
      <%= link_to(I18n.t(:blog), "/blog", :class => "hero-button") %>
    </nav>

    <%= partial "partials/social" %>

  </div>

</section>
